.home {
    display: grid;
    justify-content: center;
    align-content: center;
}

.error {
    display: grid;
    justify-content: center;
    align-content: center;
    color: rgb(121, 53, 53); 
}